<!-- <div class="box-tool">
  <h1 style="font-size: 100%;">Print Doucment</h1>
  <button style="width:200px; height:100px; font-size:120%;" (click)="printDiv('printable');">พิมพ์</button>
</div> -->

<div class="container center">
    <div id="printable"  class="page">
        <div class="box-tool">
            <div class="tool-div">
                <button class="tool-text" (click)="back()">กลับ</button>
                <button class="tool-text" (click)="printDiv('printable');">พิมพ์</button>
            </div>
        </div>
    
        <div class="print">
            <div class="containers">
                <div class="text-center" style="padding: 1rem;"><img src="assets\icons\logo-njy.jpg" alt=""></div>
                <h4 style="text-align: center;">แบบบันทึกประวัติและประเมินคนไข้ใหม่</h4>
                <h5>รับใหม่วันที่ ....................เวลา ....................น.</h5>
                <h5>ชื่อ-นามสกุล............................................................อายุ.....................ปี</h5>
                <h5>ประเภท..............................................................................................</h5>
                <h5>แหล่งที่มาของข้อมูล <input type="checkbox" style="width: 20px;"> ผู้ป่วย <input type="checkbox" style="width: 20px;"> ญาติผู้ป่วย<input type="checkbox" style="width: 20px;">เวชระเบียนหรือใบส่งตัว<input type="checkbox" style="width: 20px;">อื่นๆ...............................................................
                </h5>
                <h5>ข้อมูลติดต่อญาติ...............................................................เบอร์ติดต่อ.......................................................................</h5>
                <h5> การรักษาก่อนหน้านี้ <input type="checkbox" style="width: 20px;"> ไม่ได้รับการรักษาจากที่ใด 
                 <input type="checkbox" style="width: 20px;"> ได้รับการรักษา..........................................................................................................</h5>
                <h5>มีคนในครอบครัวมีอาการร่วมด้วย <input type="checkbox" style="width: 20px;"> ไม่มี <input type="checkbox"style="width: 20px;"> มี ......................................................................................................................................................</h5>
    
    
                <h5>โรคประจำตัว <input type="checkbox" style="width: 20px;">ไม่มี <input type="checkbox" style="width: 20px;"> มี ...................................................................................................................................</h5>
                <h5>ยาประจำ <input type="checkbox" style="width: 20px;"> ไม่มี <input type="checkbox" style="width: 20px;">มี ........................................................................................................................................................................</h5>
                <!-- <h5>เคยได้รับการผ่าตัด <input type="checkbox" style="width: 20px;"> ไม่เคย <input type="checkbox" style="width: 20px;"> เคย ......</h5> -->
                <!-- <h5>อื่นๆ .............</h5> -->
    
                <h5>ประวัติการแพ้ยาและการแพ้อื่นๆ <input type="checkbox" style="width: 20px;"> ไม่มีประวัติ <input type="checkbox" style="width: 20px;"> ไม่ทราบประวัติ <input type="checkbox" style="width: 20px;"> แพ้.................................................................</h5>
                  
                <div class="text-left">
                        <h4 >Physical examination</h4>
                        <span>อุณหภูมิ(BT)........................'C</span>
                        <span>ชีพจร(RP)........................ครั้ง/นาที</span>
                        <span>RR........................ครั้ง/นาที</span><br>
                        <span>BP........................mmHg</span>
                        <span>น้ำหนัก........................kg</span>
                        <span>ส่วนสูง........................cm</span>
                </div><br>
                <div class="text-left">
                        <h4 >ประวัติเจ็บป่วยในอดีต</h4>
                        <h5>โรคประจําตัว ................................................................................................</h5>
                        <h5>เคยรักษา รพ.ล่าสุด................................................................................................</h5>
                        <h5>ประวัติการผ่าตัด................................................................................................</h5>
                        <h5>ประวัติเจ็บป่วยในครอบครัว................................................................................................</h5>
                </div>
            </div>
        </div>

    </div>
</div>