<div>
    <div class="status">
        <div class="head">
            <span style="padding: 20px;">status</span><br>
        </div>
        <div style="margin: 15px;font-size: 18px;">
            <span class="font-white">number</span> : <span class="font-white">{{listCustomer.length}}</span>
        </div>
    </div>

    <div style="margin: 15px;width: 100%;">
        <div *ngFor="let data of listCustomer;">
            <div class="card " style="background-color: #e1e1e1; height: 150px; width: 23%;float: left;margin:8px;"
                *ngIf="data['ชื่อ นามสกุล คนไข้']">
                <div class="card-body" style="position: relative;">
                    <div class="profile-img"></div>
                    <span class="card-text font-black detail-name">{{data['ชื่อ นามสกุล คนไข้']}}</span>
                    <span class="card-text font-black detail-type">{{data['ประเภท']}}</span>
                    <span class="card-text font-black detail-station">{{data['สาขา']}}</span>
                    <div class="card-text font-black detail-status" *ngIf="data['สถานะ'] === 'เข้าอยู่'">
                        <span>{{data['สถานะ']}}</span>
                    </div>
                    <div class="card-text font-black detail-status-fail" *ngIf="data['สถานะ'] === 'ออกแล้ว'" >
                        <span>{{data['สถานะ']}}</span>
                    </div>
                    <div class="detail-BP">
                        <span>125/70</span>
                        <span style="margin-left: 20px;">66</span>
                    </div>
                    <div class="high-status">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p>DASHBOARD</p> -->