.status{
    // width: 100%;
    background-color: #5fb7f7;    
    height: 200px;
    border-radius: 5px;
    margin: 15px;
}

.head{
    background-color: #4040ae;
    height: 50px;
    font-size: 32px;
    color: white;
    border-radius: 5px;
}
.font-white{
    color: white;
}

.font-black{
    font-size: 16px;
    color: black;
    position: absolute;
}

.detail-name{
    position: absolute;
    top: 60px;
    left: 90px;
}
.detail-station{
    position: absolute;
    top: 2px;
    left: 85px;
}
.detail-type{
    position: absolute;
    top: 38px;
    left: 88px;
    font-size: 14px;
}
.detail-hit{
    position: absolute;
    top: 38px;
    left: 88px;
    font-size: 14px;
}
.detail-BP{
    position: absolute;
    top: 100px;
    left: 10px;
    height: 38px;
    width: 130px;
    background-color: #d7d7d7;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}
.detail-status{
    position: absolute;
    top: -12px;
    left: -15px;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 20px;
    height: 25px;
    width: 70px;
    text-align: center;
    background-color: #12e112;
    color: white;
}
.detail-status-fail{
    position: absolute;
    top: -12px;
    left: -15px;
    font-size: 13px;
    border: 2px solid black;
    border-radius: 20px;
    height: 25px;
    width: 70px;
    text-align: center;
    background-color: #f03636;
    color: white;
}
.high-status{
    position: absolute;
    top: 100px;
    left: 150px;
    height: 38px;
    width: 65px;    
    background-color: #d7d7d7;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}

.profile-img{
    position: absolute;
    top: 20px;
    left: 12px;
    height: 65px;
    width: 65px;
    background-color: #cdcdcd;
    border-radius: 50px;
}

.card{
    border: none;
}