<div class="containers">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ลำดับ</th>
                <th>รูป</th>
                <th>เพศ</th>
                <th>ชื่อ-นามสกุล</th>
                <th>สาขา</th>
                <th>สถานะ(BP)</th>
                <!-- <th>detail</th> -->
                <th>แบบฟอร์ม</th>
                <th>สิทธิ</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of listCustomer; let i = index">
            <tr>
                <td class="text-center">{{i+1}}</td>
                <td>
                    <div class="profile-img"></div>
                </td>
                <td>{{data['เพศ']}}</td>
                <td>{{data['ชื่อคนไข้']}} <br>({{data['สถานะ']}})</td>
                <td>{{data['สาขา']}}</td>
                <!-- <td>{{data['สาขา']}}</td> -->
                <td *ngIf="data['BP']">{{data['BP']}}</td>
                <td *ngIf="!data['BP']">--/--/--</td>
                
                <td class="btn-group">
                    <button type="button" class="icon-edit" style="background: none;" data-toggle="dropdown">
                        <img src="assets\icons\icon-details.png" width="38px" height="38px" alt="">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="goProducts(i)">บันทึกประจําวันผู้สูผู้งสูอายุ</a>
                        <a class="dropdown-item" (click)="gohistory(data['ชื่อคนไข้'])">บันทึกประวัติและประเมินคนไข้ใหม่</a>
                        <a class="dropdown-item" (click)="gohistory(data['ชื่อคนไข้'])">ประวัติการจ่ายยา</a>
                        <a class="dropdown-item" (click)="gohistory(data['ชื่อคนไข้'])">ใบรับเข้ายา</a>
                        <!-- <a class="dropdown-item">การเงิน</a> -->
                        <a class="dropdown-item">กำหนดการต่างๆ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">เกียวข้อง</a>
                    </div>
                </td>
                <td>{{data['สิทธิ']}}</td>
            </tr>
        </tbody>
    </table>

</div>